.transactionHistory {
    width: 590px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}


.transactionHistory th {
    font-size: 20px;
    background-color: #00bfff;
    color: #fff;
    text-align: left;
    padding: 20px;
}


.transactionHistory tr {
    border-bottom: 1px solid #ccc;
}


.transactionHistory td {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    font-size: 25px;
}

.transactionHistory tr:hover {
    background-color: #9da1a2;
}

